<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.adamtaylor.trackpackage</string>
	<key>connections</key>
	<dict>
		<key>0A81162C-52A8-4972-AF62-6AF221AF5FCA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>33BD1AFE-5883-4A4E-9A1A-E7F9E5C34B17</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>824045E6-D6C6-40A8-9C59-9CC6986C1980</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>273489FF-5F5F-4713-8C8E-2FE5FA7CB8DD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>91A19E9F-7D7C-4A06-A297-170A3972E235</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2AB25468-23B6-4466-A948-6E294ECFC08B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C91D5C36-2D29-4CB8-A87F-5732EC08EEFD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1E15AACB-4B3B-4D58-A2A2-EF9AD1956B38</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Adam Taylor</string>
	<key>description</key>
	<string>Easily track a package via UPS, FedEx, USPS, or DHL.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Track Package</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://wwwapps.ups.com/WebTracking/track?track=yes&amp;trackNums={query}&amp;loc=en_us</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>33BD1AFE-5883-4A4E-9A1A-E7F9E5C34B17</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>ups</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>UPS Tracking</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>0A81162C-52A8-4972-AF62-6AF221AF5FCA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://www.fedex.com/apps/fedextrack/?action=track&amp;trackingnumber={query}&amp;cntry_code=ca_english</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>1E15AACB-4B3B-4D58-A2A2-EF9AD1956B38</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>fedex</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>FedEx Tracking</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>C91D5C36-2D29-4CB8-A87F-5732EC08EEFD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>usps</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>USPS Tracking</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>824045E6-D6C6-40A8-9C59-9CC6986C1980</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://tools.usps.com/go/TrackConfirmAction.action?tRef=fullpage&amp;tLc=1&amp;tLabels={query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>273489FF-5F5F-4713-8C8E-2FE5FA7CB8DD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>dhl</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>DHL Tracking</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>91A19E9F-7D7C-4A06-A297-170A3972E235</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://www.dhl.com/en/express/tracking.html?AWB={query}&amp;brand=DHL</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>2AB25468-23B6-4466-A948-6E294ECFC08B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>0A81162C-52A8-4972-AF62-6AF221AF5FCA</key>
		<dict>
			<key>xpos</key>
			<integer>60</integer>
			<key>ypos</key>
			<integer>45</integer>
		</dict>
		<key>1E15AACB-4B3B-4D58-A2A2-EF9AD1956B38</key>
		<dict>
			<key>xpos</key>
			<integer>255</integer>
			<key>ypos</key>
			<integer>195</integer>
		</dict>
		<key>273489FF-5F5F-4713-8C8E-2FE5FA7CB8DD</key>
		<dict>
			<key>xpos</key>
			<integer>255</integer>
			<key>ypos</key>
			<integer>345</integer>
		</dict>
		<key>2AB25468-23B6-4466-A948-6E294ECFC08B</key>
		<dict>
			<key>xpos</key>
			<integer>255</integer>
			<key>ypos</key>
			<integer>495</integer>
		</dict>
		<key>33BD1AFE-5883-4A4E-9A1A-E7F9E5C34B17</key>
		<dict>
			<key>xpos</key>
			<integer>255</integer>
			<key>ypos</key>
			<integer>45</integer>
		</dict>
		<key>824045E6-D6C6-40A8-9C59-9CC6986C1980</key>
		<dict>
			<key>xpos</key>
			<integer>60</integer>
			<key>ypos</key>
			<integer>345</integer>
		</dict>
		<key>91A19E9F-7D7C-4A06-A297-170A3972E235</key>
		<dict>
			<key>xpos</key>
			<integer>60</integer>
			<key>ypos</key>
			<integer>495</integer>
		</dict>
		<key>C91D5C36-2D29-4CB8-A87F-5732EC08EEFD</key>
		<dict>
			<key>xpos</key>
			<integer>60</integer>
			<key>ypos</key>
			<integer>195</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://adam-taylor.com/</string>
</dict>
</plist>
